<div id="wrapper">
  <div id="sidebar">
    <h3>Rooms</h3>
    <ul id="rooms">
    </ul>

  <div id="content">
    <div id="messages">
      <ul class="items">
      </ul>
      
      <div class="new">
        <textarea></textarea>
        <button>Send Message</button>
      </div>
    </div>
  </div>
</div>