<!DOCTYPE html>
<html>
<head>
  <title>Vaudeville</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="title">
    <h1>SpeakEasy</h1>
</header>

<div id="app">
  <%= yield %>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new App({el: $('#app')});
  })
</script>

</body>
</html>
